# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/
install/

# Saved output
*.mp4
log/

# Unrelated directories
naiscorp_hardware_interface/
ros_video_player/
**/SLAM\ NAV2\ Web\ UI/
sllidar_ros2/
temi_bringup/
temi_v1/
web_robot_controller/
hardware_interface_temi/