# Build
build/
install/

# Saved output
*.mp4
log/

# Unrelated directories
naiscorp_hardware_interface/
**/SLAM\ NAV2\ Web\ UI/
sllidar_ros2/
temi_bringup/
temi_v1/
web_robot_controller/
hardware_interface_temi/
